
.shop-container{
    display: flex;
    margin-left: 20px;
  
}
.product-container{
    width: 70%;
  
    border-right: 1px solid lightgray;
    
}
.cart-container h3{
    width: 30%;
    margin-left: 30px;
    margin: auto;
   
   
}
.confirm-btn{
    background-color: yellow;
    padding: 8px 12px;
    margin-top: 10px;
    margin-left: 5px;
}