.header img{
    height: 100px;
   padding: 20px;
}

.header{
    text-align: center;
}
nav{
    background-color: black;
    line-height: 50px;
    font-weight: bold;
    
}
nav a{
    margin: 10PX;
    text-decoration:none;
    padding: 14px ;
    
    color: white;
}
nav a:hover{
    background-color: rgb(107, 109, 110);
    
}